.aboutCont {
    padding: 3em;
}

.aboutCont h2 {
    text-align: center;
}

.mainCont {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5em;
}

.mainCont p {
    max-width: 600px;
}

.mainCont span {
    color: var(--medium);
    font-weight: 500;
}


.imgCont {
    display: grid;
}

.myVlog {
    position: relative;
    top: -100px;
}

@media only screen and (max-width: 850px) {
    .mainCont {
      flex-direction: column;
      column-gap: 1em;
    }

    .imgCont {
        max-height: 600px;
    }

  }


  @media only screen and (max-width: 600px) {
    .myImg, .myVlog {
        width: 300px;
        height: 100%;
    }

    .myVlog {
        top: -60px;
    }
  }