.nav {
    position: relative;
}

.navCont {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 100;
    min-height: 90px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 2em 0;
    background-color: #F3F6FA;

}

.navCont a {
    font-weight: 600;
    transition: all 0.2s ease;
    margin-right: 2em;
    text-decoration: none;
}

.navCont a:hover {
    color: var(--medium);
    transition: color 0.2s ease;
}