:root {
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;


  --darkest: #14213D;
  --medium: #4B00C6;
  --light: #DEE3F2;
}

html,
body {
  font-family: var(--font-inter);
}

html {
  scroll-snap-type: y mandatory !important; 
}  

body {
  background-color: #F3F6FA;
}

h1, h2 {
  font-size: 60px;
  line-height: 1.4;
  font-family: var(--font-bowlby);
  color: var(--darkest);
  margin: 0 0 1em 0;
}

h2 {
   font-size: 40px;
   margin: 0.5em 0;
}

p {
  font-size: 18px;
  line-height: 1.7;
  color: var(--darkest);
}
  
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
 
}

@media only screen and (max-width: 670px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 40px;
  }

  p {
    font-size: 16px;
  }

  @media only screen and (max-width: 600px) {
    h1 {
      font-size: 40px;
    }

    h2 {
      font-size: 30px;
    }

  }

}
